<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MobaXterm Keygen</title>

    <script src="./js/vue.min-2.6.12.js"></script>
    <script src="./js/FileSaver.js"></script>
    <script src="./js/jszip.js"></script>

    <link href="./css/pure-min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="box-main">
      <div id="app">
        <div class="content">
          <div class="pure-form pure-form-aligned auto-center">
            <fieldset>
              <legend>
                <h1 class="text-center">MobaXterm Keygen</h1>
              </legend>

              <div class="pure-g">
                <div class="pure-control-group pure-u-1">
                  <label for="licenseType">License Type:</label>
                  <select
                    name="licenseType"
                    id="licenseType"
                    v-model="licenseType"
                  >
                    <!-- <option value="">Please select</option> -->
                    <option v-for="(val, key) in LICENSE_TYPES" :value="val">
                      {{key}}
                    </option>
                  </select>
                </div>

                <div class="pure-control-group pure-u-1">
                  <label for="userName">Username:</label>
                  <my-input
                    :idattr="'userName'"
                    :validation="'^[a-zA-Z]+$'"
                    :valueattr="userName"
                    :validationtips="'Only letters are allowed'"
                    :placeholderattr="'Example: mobaXterm'"
                    @set-data="setUserName"
                  >
                  </my-input>
                </div>

                <div class="pure-control-group pure-u-1">
                  <label for="versionName">Version:</label>
                  <my-input
                    :idattr="'versionName'"
                    :validation="'^[1-9][0-9]*\\.?\\d{0,1}$'"
                    :validationtips="'Decimal number, and only one digit after the decimal point is allowed'"
                    :valueattr="versionName"
                    :placeholderattr="'Example: 24.3'"
                    @set-data="setVersionName"
                  ></my-input>
                </div>

                <div class="pure-control-group pure-u-1">
                  <label for="userNum">Number of Users:</label>
                  <my-input
                    :idattr="'userNum'"
                    :validation="'^[1-9]+\\d*$'"
                    :valueattr="userNum"
                    :placeholderattr="'Example: 1'"
                    :validationtips="'Number must be between 1 and 214783647'"
                    :maxvalue="214783647"
                    @set-data="setUserNum"
                  >
                  </my-input>
                </div>

                <div class="pure-controls pure-u-1">
                  <button
                    type="submit"
                    class="pure-button pure-button-primary"
                    @click.stop="generate"
                  >
                    Generate
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="./js/validator.js"></script>
  </body>
</html>
