<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MobaXterm Keygen</title>

    <script src="./js/vue.min-2.6.12.js"></script>
    <script src="./js/FileSaver.js"></script>
    <script src="./js/jszip.js"></script>

    <link href="./css/pure-min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="box-main">
      <div id="app">
        <div class="content">
          <div class="pure-form pure-form-aligned auto-center">
            <fieldset>
              <legend>
                <h1 class="text-center">MobaXterm Keygen</h1>
              </legend>

              <div class="pure-g">
                <div class="pure-control-group pure-u-1">
                  <label for="licenseType">License Type:</label>
                  <select
                    name="licenseType"
                    id="licenseType"
                    v-model="licenseType"
                  >
                    <!-- <option value="">Please select</option> -->
                    <option v-for="(val, key) in LICENSE_TYPES" :value="val">
                      {{key}}
                    </option>
                  </select>
                </div>

                <div class="pure-control-group pure-u-1">
                  <label for="userName">Username:</label>
                  <my-input
                    :idattr="'userName'"
                    :validation="'^[a-zA-Z]+$'"
                    :valueattr="userName"
                    :validationtips="'Only letters are allowed'"
                    :placeholderattr="'Example: defaultUser'"
                    @set-data="setUserName"
                  >
                  </my-input>
                </div>

                <div class="pure-control-group pure-u-1">
                  <label for="versionName">Version:</label>
                  <my-input
                    :idattr="'versionName'"
                    :validation="'^[1-9][0-9]*\\.?\\d{0,1}$'"
                    :validationtips="'Decimal number, and only one digit after the decimal point is allowed'"
                    :valueattr="versionName"
                    :placeholderattr="'Example: 21.0'"
                    @set-data="setVersionName"
                  ></my-input>
                </div>

                <div class="pure-control-group pure-u-1">
                  <label for="userNum">Number of Users:</label>
                  <my-input
                    :idattr="'userNum'"
                    :validation="'^[1-9]+\\d*$'"
                    :valueattr="userNum"
                    :placeholderattr="'Example: 1'"
                    :validationtips="'Number must be between 1 and 214783647'"
                    :maxvalue="214783647"
                    @set-data="setUserNum"
                  >
                  </my-input>
                </div>

                <div class="pure-controls pure-u-1">
                  <button
                    type="submit"
                    class="pure-button pure-button-primary"
                    @click.stop="generate"
                  >
                    Generate
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { LicenseType, generateLicense } from "./js/mobaXtermGenerater.js";

      var app = new Vue({
        el: "#app",
        data() {
          return {
            LICENSE_TYPES: LicenseType,

            licenseType: 1,
            userName: "mobaXterm",
            versionName: "24.3",
            userNum: 1,
          };
        },
        methods: {
          setUserName(newVal) {
            this.userName = newVal;
          },
          setVersionName(newVal) {
            this.versionName = newVal;
          },
          setUserNum(newVal) {
            this.userNum = newVal;
          },
          generate() {
            if (!this.userName) {
              alert("Please enter a username");
              return;
            }
            if (!this.versionName) {
              alert("Please enter the version number");
              return;
            }
            if (!this.userNum || this.userNum > 214783647) {
              alert(
                "Please enter a valid number of users (between 1 and 214783647)"
              );
              return;
            }
            // Version split
            let versionNameArr = this.versionName.split(".");
            const majorVersion = parseInt(versionNameArr[0]);
            const minorVersion =
              versionNameArr.length === 2
                ? parseInt(versionNameArr[1]) || 0
                : 0;
            // Generate license string
            let licenseStr = generateLicense(
              this.licenseType,
              this.userName,
              this.userNum,
              majorVersion,
              minorVersion
            );
            this.generateLicenseFile(licenseStr);
          },
          generateLicenseFile(licenseStr) {
            let zip = new JSZip();
            zip.file("Pro.key", licenseStr);
            zip.generateAsync({ type: "blob" }).then(function (content) {
              saveAs(content, "Custom.mxtpro");
            });
          },
        },
        components: {
          "my-input": {
            template: `<div class="my-input">
                                    <input :id="idattr" :placeholder="placeholderattr" v-model="value" required/>
                                    <div :class="validationTipsDiplay" class="my-input-tips-wrap">
                                        <span class="my-input-tips">{{validationtips}}</span>
                                        <div class="my-input-arrow"></div>
                                    </div>
                                </div>`,
            data() {
              return {
                value: this.valueattr,
                validationTipsDiplay: "hide",
                tipsDisplayTimeout: undefined,
              };
            },
            props: {
              idattr: { type: String, default: "" },
              placeholderattr: { type: String, default: "" },
              valueattr: "",
              validation: { type: String, default: "" },
              validationtips: "",
              maxvalue: { type: Number, default: null }, // Adicionado para validar o valor máximo
            },
            watch: {
              valueattr(newVal, oldVal) {
                this.value = newVal;
              },
              value(newVal, oldVal) {
                if (newVal && this.validation) {
                  let reg = new RegExp(this.validation);
                  if (
                    !reg.test(newVal) ||
                    (this.maxvalue !== null && parseInt(newVal) > this.maxvalue)
                  ) {
                    this.validationTipsDiplay = "";
                    this.value = oldVal;
                    if (this.tipsDisplayTimeout)
                      clearTimeout(this.tipsDisplayTimeout);
                    var _this = this;
                    this.tipsDisplayTimeout = setTimeout(function () {
                      _this.tipsDisplayTimeout = undefined;
                      _this.validationTipsDiplay = "hide";
                    }, 1000);
                    return;
                  }
                }
                this.$emit("set-data", newVal);
              },
            },
          },
        },
      });
    </script>
  </body>
</html>
